{% extends "base.html" %}

{% block title %}Diagnostic Tool{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>Herramienta de Diagnóstico RD</h1>
  <div class="everything d-none">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid content-list">
        <a class="navbar-brand" href="#">Diagnóstico</a>
        <div class="collapse navbar-collapse content-ul" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item btn-pacient">
              <a class="nav-link active" href="#" onclick="showCard('patient-card')">Paciente</a>
            </li>
            <li class="nav-item btn-diagnostic">
              <a class="nav-link" href="#" onclick="showCard('diagnostic-card')">Diagnóstico</a>
            </li>
            <li class="nav-item btn-historial">
              <a class="nav-link" href="#" onclick="showCard('history-card')">Historial</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="cards">
      <!-- Tarjeta de registro de paciente -->
      <div class="card" id="patient-card">
        <div class="card-body">
          <h2 class="card-title">Registro del Paciente</h2>
          <form method="post">
            {% csrf_token %}       
            {% for field in patient_form %}
            <p>
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </p>
            {% if field.help_text %}
                <span class="helptext" id="{{ field.id_for_label }}_helptext">{{ field.help_text }}</span>
            {% endif %}
            {% endfor %}


            
            <p>
                {% if selected_patient %}
                    <input type="hidden" name="patient_id" value="{{ selected_patient.id }}">
                    <button type="submit" name="update_patient" class="btn btn-secondary mt-2">Actualizar</button>
                    <button type="submit" name="delete_patient" class="btn btn-danger mt-2">Eliminar</button>
                    <button type="submit" name="clean_patient" class="btn btn-danger mt-2">Volver</button>
                {% else %}
                    <button type="submit" name="register_patient" class="btn btn-primary">Registrar Paciente</button>
                {% endif %}
            </p>
          </form>
        </div>
      </div>

      <!-- Tarjeta de diagnóstico -->
      <div class="card d-none" id="diagnostic-card">
        <div class="card-body">
          <h2 class="card-title">Subir Imagen</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in image_form %}
            <p>
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </p>
            {% if field.help_text %}
                <span class="helptext" id="{{ field.id_for_label }}_helptext">{{ field.help_text }}</span>
            {% endif %}
            {% endfor %}
            <p>
              <button type="submit" name="upload_image" class="btn btn-primary">Diagnosticar</button>
            </p>
          </form>
          <div class="content-result">
            <h3>Resultado del Diagnóstico:</h3>
            <p>{{ prediction_result|default:"No hay resultados disponibles" }}</p>
            <h3>Vista Previa:</h3>
            <img id="image-preview" src="#" alt="Vista previa" style="max-width: 200px; display: none" />
          </div>
        </div>
      </div>

      <!-- Tarjeta de historial -->
      <div class="card d-none" id="history-card">
        <div class="card-body">
          <h2 class="card-title">Historial de Diagnósticos</h2>
          <form method="get" class="mb-3 date-filter">
            <input type="hidden" name="tab" value="history-card" />
            <div>
              <label for="date-filter">Filtrar por fecha:</label>
              <input type="date" name="date_filter" id="date-filter" class="form-control" value="{{ request.GET.date_filter|default:'' }}">
            </div>
            <p>
              <button type="submit" class="btn btn-secondary mt-2">Buscar</button>
            </p>
          </form>

          <h3>Resultados del Historial</h3>
          <ul class="list-group">
            {% for diagnostic in diagnostics %}
              <li class="list-group-item">
                <strong>Paciente:</strong>
                <a href="{% url 'diagnostic' %}?tab=patient-card&patient_id={{ diagnostic.patient.id }}">
                  {{ diagnostic.patient.first_name }} {{ diagnostic.patient.last_name }}
                </a><br />
                <strong>Fecha:</strong> {{ diagnostic.consultation_date|date:"d-m-Y H:i" }}<br />
                <strong>Diagnóstico:</strong> {{ diagnostic.diagnosis_result|default:"Sin diagnóstico" }}<br />
                <a href="{{ diagnostic.image.url }}" target="_blank">
                  <img src="{{ diagnostic.image.url }}" alt="Imagen Original" style="max-width: 150px" />
                </a>
                {% if diagnostic.gradcam_image %}
                <a href="{{ diagnostic.gradcam_image.url }}" target="_blank">
                  <img src="{{ diagnostic.gradcam_image.url }}" alt="Grad-CAM" style="max-width: 150px" />
                </a>
                {% endif %}
              </li>
            {% empty %}
              <li class="list-group-item">No se encontraron diagnósticos para esta fecha.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
