{% extends "base.html" %}

{% block title %}Herramienta de diagnóstico RD{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>Herramienta de Diagnóstico RD</h1>
  <div class="everything d-none">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid content-list">
       {% comment %}  <a class="navbar-brand" href="#">Diagnóstico</a> {% endcomment %}
        <div class="collapse navbar-collapse content-ul" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item btn-pacient">
              <a class="nav-link active" href="#" >Paciente</a>
            </li>
            <li class="nav-item btn-diagnostic">
              <a class="nav-link" href="#" >Diagnóstico</a>
            </li>
            <li class="nav-item btn-historial">
              <a class="nav-link" href="#"  >Historial</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="cards">
      <!-- Tarjeta de registro de paciente -->
      <div class="card" id="patient-card">
        <div class="card-body">
          <h2 class="card-title">Registro del Paciente</h2>
          <form method="post">
            {% csrf_token %}       
            {% for field in patient_form %}
            {% if field.name == 'birth_date' %}
            <p>
                <input type="date" name="{{ field.name }}" class="form-control" required="" id="{{ field.id_for_label}}">
            </p>
            {% else %}
            <p>
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </p>
            {% if field.help_text %}
                <span class="helptext" id="{{ field.id_for_label }}_helptext">{{ field.help_text }}</span>
            {% endif %}
            {% endif %}
            {% endfor %}

            <p id="buttons-container">
          </p>
          
          </form>
        </div>
      </div>

      <!-- Tarjeta de diagnóstico -->
<div class="card d-none" id="diagnostic-card">
  <div class="card-body">
    <h2 class="card-title">Subir Imagen</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in image_form %}
      <p>
        {{ field }}
      </p>
      {% if field.help_text %}
      <span class="helptext" id="{{ field.id_for_label }}_helptext">{{ field.help_text }}</span>
      {% endif %}
      {% endfor %}
      <p>
        <button type="submit" name="upload_image" class="btn btn-primary">Diagnosticar</button>
      </p>
    </form>

    <!-- Contenedor de previsualización -->
    <div class="content-preview" style="display: none;">
      <h3>Vista previa</h3>
      <div class="image-container">
        <img id="image-preview" src="" alt="Vista previa de la imagen">
      </div>
    </div>

    <!-- Contenedor de resultado del diagnóstico -->
    <div class="content-postview" style="display: {% if prediction_result %}block{% else %}none{% endif %};">
      {% if prediction_result %}
      <h3>Resultado del Diagnóstico:</h3>
      <p>{{ prediction_result.diagnosis_text | default:"" }}</p>
      <div class="image-container">
        <img src="{{ prediction_result.image_url }}" alt="Vista de la imagen procesada">
      </div>
      {% endif %}
    </div>
  </div>
</div>


      <!-- Tarjeta de historial -->
      <div class="card d-none" id="history-card">
        <div class="card-body">
          <h2 class="card-title">Historial de Diagnósticos</h2>
          <form method="get" class="mb-3 date-filter">
            <input type="hidden" name="tab" value="history-card" />
            <div>
              <label for="date-filter">Filtrar por fecha:</label>
              <input type="date" name="date_filter" id="date-filter" class="form-control" value="{{ request.GET.date_filter|default:'' }}">
            </div>
            <p>
              <button type="submit" class="btn btn-secondary mt-2">Buscar</button>
            </p>
          </form>

          <h3>Resultados del Historial</h3>
          <ul class="list-group">
            <br>
            {% for diagnostic in diagnostics %}
              <li class="list-group-item">
                <strong>Paciente:</strong>
                <a href="#" onclick="loadPatientData('{{ diagnostic.patient.id }}')" class="patient_link">
                  {{ diagnostic.patient.first_name }} {{ diagnostic.patient.last_name }}
                </a>
                <strong>Fecha:</strong> {{ diagnostic.consultation_date|date:"d-m-Y H:i" }}<br />
                <strong>Diagnóstico:</strong> {{ diagnostic.diagnosis_result|default:"Sin diagnóstico" }}<br />
                <div class="historial-image-content">
                  <a href="{{ diagnostic.image.url }}" target="_blank">
                    <img src="{{ diagnostic.image.url }}" alt="Imagen Original"/>
                  </a>  
                  {% if diagnostic.gradcam_image %}
                  <a href="{{ diagnostic.gradcam_image.url }}" target="_blank">
                    <img src="{{ diagnostic.gradcam_image.url }}" alt="Grad-CAM"/>
                  </a>
                </div><br />
                {% endif %}
              </li>
            {% empty %}
              <li class="list-group-item">No se encontraron diagnósticos para esta fecha.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}