{% extends "base.html" %}

{% block title %}
Perfil de usuario
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="everything">
        <form method="post" class="register" id="registerForm">
            <div class="content">
                <h2>Perfil de usuario</h2>
                <p class="description">Actualizar los datos del perfil de usuario</p>
            </div>
                {% csrf_token %}
                {% if form.non_field_errors %}
                {{ form.non_field_errors }}
                {% endif %}
                {% for field in form %}
                    {% if field.name == 'username' %}
                    <p>
                        {{ field }}
                    </p>
                    {% elif field.name == 'password' %}
                    <p>
                        <input type="password" name="{{ field.name }}" value="" required="" aria-describedby="{{ field.id_for_label }}_helptext" id="{{ field.id_for_label }}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </p>
                    {% else %}
                    <p>
                        <input type="text" name="{{ field.name }}" value="{{ field.value }}" required="" aria-describedby="{{ field.id_for_label }}_helptext" id="{{ field.id_for_label }}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </p>
                    {% if field.help_text %}
                        <span class="helptext" id="{{ field.id_for_label }}_helptext">{{ field.help_text }}</span>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            <button type="delete" class="btn btn-primary" onclick=disableValidation()>Eliminar usuario</button>
            <button type="discard" class="btn btn-primary" onclick=disableValidation()>Descartar cambios</button>
        </form>
    </div>
</div>

<script>
    function disableValidation() {
        document.getElementById('registerForm').noValidate = true;
    }
</script>
{% endblock %}