{% extends "base.html" %}

{% block title %}
Registro
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="everything">
        <form method="post" class="register">
            <div class="content">
                <h1>Formulario de registro</h1>
                <p class="description">Rellene los campos para continuar</p>
            </div>
                {% csrf_token %}
                {% if form.errors %}
                <ul class="errorlist nonfield">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                         {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}
                {% for field in form %}
                    {% if field.name == 'password1' or field.name == 'password2' %}
                    <p>
                        <input type="password" name="{{ field.name }}" required="" aria-describedby="{{ field.id_for_label }}_helptext" id="{{ field.id_for_label }}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </p>
                    {% if field.help_text %}
                        <span class="helptext" id="{{ field.id_for_label }}_helptext">{{ field.help_text }}</span>
                    {% endif %}
                    {% else %}
                    <p>
                        <input type="text" name="{{ field.name }}" required="" aria-describedby="{{ field.id_for_label }}_helptext" id="{{ field.id_for_label }}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </p>
                    {% if field.help_text %}
                        <span class="helptext" id="{{ field.id_for_label }}_helptext">{{ field.help_text }}</span>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            <button type="submit">Registrar</button>
            <br>
            <p class="redirect">¿Ya tienes una cuenta? Inicia sesión <a href="/login/">aquí</a></p>
            <br>
            <p class="warning">Al registrarte aceptas que la información ingresada en la aplicación podrá ser usadas con fines investigativos Universidad de Guayaquil. Podrás solicitar la eliminación de los datos en cualquier momento a través del perfil de usuario.</p>
        </form>
    </div>
</div>
   
{% endblock %}